<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>b.png</string>
			<key>Regular Expression</key>
			<string>(av\d{6,})</string>
			<key>Title</key>
			<string>Google</string>
			<key>URL</key>
			<string>http://www.bilibili.com/video/{popclip text}/</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Open a Bilibili video.</string>
	<key>Extension Identifier</key>
	<string>com.alanchen.popclip.extension.bilibili</string>
	<key>Extension Name</key>
	<string>Bilibili</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
